
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.726);

}

.header{
    
    position: sticky;
    background-color: black;
    height: 50px;
    margin: -1%;
    color: cornsilk;
    width: 102%;
}
.titre a:link{
    text-decoration: none;
    color: cornsilk;

}
.titre a:visited{
    text-decoration: none;
    color: cornsilk;
    
}

.titre{
    display: inline-block;
    font-size: x-large;
    margin: auto;
    float: left;
    margin-left: 2%;
}

.top a:link{
    text-decoration: none;
    color: cornsilk;

}

.top a:visited{
    text-decoration: none;
    color: cornsilk;
}

.top {
    float: right;
    margin-inline: 20px;
}

.top li {
    display: inline-block;
}

.top a{
    padding-inline: 7px;
}

.top *:hover{
    background-color: gray;
}
.boite{
    margin-block: 10%;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    line-height: 1.5;
    font-weight: bold;
}

#name  {
    width: 300px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid gray;
}

#mail {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid gray;
}

#msg {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid gray;
    
}

footer{
    padding-top: 14px;
    text-align: center;
    height: 50px;
    background-color: black;
    color: cornsilk;
    margin: -1%;
}